asteval==0.9.26
cycler==0.11.0
fonttools==4.29.1
future==0.18.2
importlib-metadata==4.11.2
jpkreader==0.0.1
kiwisolver==1.3.2
lmfit==1.0.3
matplotlib==3.5.1
mpmath==1.2.1
numpy==1.21.5
packaging==21.3
pandas==1.3.5
Pillow==9.0.1
pyafmrheo==0.0.1
pyparsing==3.0.7
PyQt5==5.15.6
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.1
pyqtgraph==0.12.4
python-dateutil==2.8.2
pytz==2021.3
scipy==1.7.3
six==1.16.0
typing-extensions==4.1.1
uncertainties==3.1.6
zipp==3.7.0
